*.un~
.VimballRecord
.netrwhist
ruby/command-t/Makefile
ruby/command-t/depend
ruby/command-t/ext.o
ruby/command-t/ext.so
ruby/command-t/match.o
ruby/command-t/matcher.o
ruby/command-t/mkmf.log
ruby/command-t/ext.bundle
doc/tags

